/* ###############COMMON STYLES############### */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ############### /COMMON STYLES############### */

/* ############### HEADER STYLES############### */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:focus,
.contacts-link:hover,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* ############### /HEADER STYLES ############### */

/* ############### HERO STYLES ################## */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/herosection/people-office.jpg");
  background-size: cover;
}

.main-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* ############### / HERO STYLES ################## */

/* ############# BENEFITS STYLES ################# */

.benefits-section {
  background-color: #ffffff;
}

.benefits-item-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc ((100% - 72px) / 4);
}

.benefits-list-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: capitalize;
  color: #2e2f42;
}

.benefits-list-text {
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ############# / BENEFITS STYLES ################# */

/* ############## OUR TEAM SECTION ################# */

.ourteam-section {
  background-color: #f4f4fd;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  max-width: 1158px;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourteam-list-information {
  padding: 32px 0;
}

.ourteam-list-fullname {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ourteam-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list-icon {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.social-media-item {
  position: relative;
  height: 40px;
  width: 40px;
  margin-top: 8px;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-grow: 1;
  margin-top: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

/* ############## /OUR TEAM SECTION ################# */

/* ############## OUR PORTFOLIO ##################### */

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list-item {
  position: relative;
  overflow: hidden;
  width: calc ((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list-description {
  text-align: left;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

.portfolio-list-information {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ############## /OUR PORTFOLIO ##################### */

/* #################### FOOTER ####################### */
.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-paragraf {
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}

.social-list-icon {
  fill: #f4f4fd;
  stroke: #ffffff;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-grow: 1;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-wrap {
  margin-right: 120px;
}

.page-footer-wrap {
  margin-right: 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-text {
  text-align: justify;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #31d0aa;
}
/* ################## / FOOTER ####################### */

/* ################### BACKDROP WINDOW################## */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  width: 408px;
  height: 80%;
  max-height: 584px;
  overflow: auto;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
}

.modal-close-btn {
  background-color: #e7e9fc;
  border: none;
  border-radius: 50%;
  padding: 8px;
  stroke: #2e2f42;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
}

.modal-slogan {
  max-width: 360px;
  color: #2e2f42;
  font-weight: 600;
  font-size: 24;
  line-height: 1.17;
  margin-bottom: 16px;
}

.contact-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 14;
  letter-spacing: -0, 02em;
  margin-bottom: 4px;
}

.contact-form-field-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #111111;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-field-input:focus + .contact-form-input-icon {
  fill: #4d5ae5;
}

.contact-form-field-form {
  margin-bottom: 8px;
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-wrapper {
  position: relative;
}

.contact-form-coment {
  border-radius: 4px;
  border: 1px solid #111111;
  max-width: 360px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  color: #111111;
  font-size: 14;
  letter-spacing: -0, 02em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-coment::placeholder {
  color: rgb(46, 47, 66 0, 4);
}

.contact-form-coment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contakt-form-checkbox-custom {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-label
  + .contact-form-checkbox {
  background-color: transparent;
}
